# Backend
PORT=5001
MONGOURI=mongodb://localhost:27017/streamify
JWT_SECRET_KEY=your_jwt_secret_key_here
STREAM_API_KEY=your_stream_chat_api_key
STREAM_API_SECRET=your_stream_chat_api_secret
NODE_ENV=development

# Frontend
VITE_STREAM_API_KEY=your_stream_chat_api_key
